@font-face {
    font-family: "MuseoModerno";
    font-weight: 300;
    src: url(../fonts/MuseoSansCyrl-300.woff) format('woff');
}

@font-face {
    font-family: "MuseoModerno";
    font-weight: 500;
    src: url(../fonts/MuseoSansCyrl-500.woff) format('woff');
}

@font-face {
    font-family: "MuseoModerno";
    font-weight: 700;
    src: url(../fonts/MuseoSansCyrl-700.woff) format('woff');
}

@font-face {
    font-family: "MuseoModerno";
    font-weight: 900;
    src: url(../fonts/MuseoSansCyrl-900.woff) format('woff');
}