@media (min-width: 1400px) {
    .container {
        max-width: 1100px;
    }

    .button_size {
        width: 214px;
    }

    .button_main {
        margin-top: 50px;
        width: 350px;
        height: 60px;
    }

    .header {

        &__logo {
            width: 270px;
        }

        &__official {
            font-size: 18px;

            span {
                font-size: 24px;
            }
        }

        &__phone {
            font-size: 24px;
        }
    }

    .promo {
        padding-bottom: 86px;

        &__header {
            font-weight: 800;
            font-size: 50px;
            margin-top: 78px;
        }

        &__subheader {
            font-size: 28px;
        }

        &__icons {
            width: 760px;
        }

        &__icon {
            flex-direction: row;
            width: calc(90% / 3);
            row-gap: 0;
            column-gap: 14px;
            justify-content: space-evenly;
            font-size: 20px;

            img {
                width: 60px;
                height: 60px;
            }
        }

        &__link {
            font-size: 20px;
        }
    }

    .advantages {
        &__wrapper {
            margin-top: 50px;
        }

        .title {
            font-size: 38px;
        }

        &__img {
            width: 90px;
            height: 90px;
        }

        &__title {
            font-size: 26px;
            margin-top: 30px;
        }

        &__descr {
            font-size: 20px;
        }
    }

    .consultations {
        .title_left {
            font-size: 40px;
        }

        &__descr {
            font-size: 28px;
        }

        .form {
            input {
                font-size: 18px;
            }
        }

        .button_submit {
            font-size: 18px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 760px;
    }

    // PROMO БЛОК

    .promo {
        .button_size {
            width: 140px;
        }

        .button_main {
            margin-top: 44px;
        }

        .header {
            &__phone {
                font-size: 16px;
            }
        }

        .title_header {
            font-size: 40px;
            margin-top: 74px;
        }

        &__subheader {
            font-size: 22px;
        }
    }

    // PROMO БЛОК

    .advantages {
        &__wrapper {
            margin-top: 30px;
        }
    }

    .consultations {
        .title_left {
            font-size: 30px;
            margin-bottom: 0;
        }

        &__descr {
            font-size: 18px;
            margin: 22px 0 0;
        }

        .form {
            margin-top: 30px;
        }
    }


}

@media (max-width: 768px) {
    .container {
        max-width: 550px;
    }

    .promo {

        .header {
            &__logo {
                width: 200px;
            }

            &__official {
                font-size: 12px;

                span {
                    font-size: 16px;
                }
            }

            &__phone {
                font-size: 14px;
            }
        }

        &__header {
            font-size: 36px;
        }

        &__subheader {
            font-size: 19px;
        }
    }

    .advantages {
        .title {
            font-size: 26px;

        }


        &__wrapper {
            column-gap: 26px;
        }
    }

    .consultations {
        .title_left {
            font-size: 22px;
            margin-bottom: 0;
        }

        &__descr {
            font-size: 15px;
            margin: 18px 0 0;
        }

        .form {
            margin-top: 20px;
        }
    }

    .slider {
        .owl-carousel {
            width: 100%;
            height: 60vw;
        }
    }
}

@media (max-width: 576px) {

    .promo {
        padding-top: 75px;
        position: relative;
        background: url(../img/promo-bg.jpg) center center / cover no-repeat;
        background-position: -200px 0;

        &__wrapper {
            align-items: center;
        }

        .header {
            display: flex;
            position: fixed;
            z-index: 10;
            top: 0;
            left: 0;
            height: 54px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.4);

            .hamburger {
                display: flex;
            }

            .header__info_active {
                left: 0;

                .header__logo {
                    display: block;
                    order: 3;
                    object-fit: contain;
                    width: 100%;
                }

                .header__official {
                    display: block;
                    order: 2;
                }

                .header__contacts {
                    display: flex;
                    flex-direction: column;
                    order: 1;
                }
            }

            &__logo {
                display: none;
            }

            &__official {
                display: none;
            }

            &__contacts {
                display: none;
            }

            &__phone {
                font-size: 16px;
            }
        }

        &__header {
            font-size: 7vw;
        }

        &__subheader {
            font-size: 3.5vw;
        }

        &__icons {
            width: 100%;
        }
    }

    .advantages {
        .title {
            font-size: 5vw;
        }

        &__wrapper {
            flex-direction: column;
            row-gap: 30px;
            margin: 50px 20px 50px;
        }

        &__item {
            width: 100%;
            // flex-direction: row;
        }

        &__title {
            margin-top: 26px;
        }
    }

    .consultations {
        &__wrapper {
            align-items: center;
        }

        .title_consult {
            font-size: 5vw;
            text-align: center;
        }

        &__descr {
            text-align: center;
            font-size: 4vw;
        }
    }

    .slider {
        .owl-carousel {
            width: 100%;
            height: 70vw;
        }

        .owl-nav {
            display: none;
        }
    }

    .catalogue {
        .title {
            font-size: 6vw;
        }

        &__tabs {}

        &__tab {
            width: 26vw;
            font-size: 2.8vw;

            &:hover {
                box-shadow: none;
                font-size: 2.8vw;
            }
        }
    }

    .reviews {
        .title {
            font-size: 6vw;
        }

        &__review {
            column-gap: 0;
            row-gap: 32px;
            flex-wrap: wrap;
            justify-content: center;

            &-block {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 20px;

                &__name,
                &__total {
                    text-align: center;
                }

                &__text {
                    text-align: justify;
                }
            }

        }
    }

}

@media (max-width: 353px) {
    .catalogue {

        &__tabs {
            margin-top: 40px;
        }

        &__tab {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24vw;
            font-size: 3vw;
            line-height: inherit;

            &:hover {
                box-shadow: none;
                font-size: 3vw;
            }
        }
    }

    .reviews {

        &__review {

            &-block {
                padding: 0 10px;

                &__text {
                    text-align: center;
                }
            }

        }

    }
}