$main-color: #C70101;
$text-color: #FFFFFF;
$text-color-secondary: #0D0D0D;
$text-color-inactive: #6B6B6B;
$text-color-descr: #555555;
$text-color-gray-secondary: #646464;
$forms-text-color: #4B4B4B;
$text-price-color: #050505;
$bg-color: #f6f6f6;