.advantages {
    min-height: 473px;
    padding: 70px 0 65px;
    background-color: $bg-color;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 75px;
        column-gap: 65px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: calc(100% / 3);

        &:hover {
            .advantages__img {
                &_heart-animation {
                    animation-play-state: paused;
                }
            }
        }
    }

    &__img {
        display: block;
        width: 70px;
        height: 70px;
        object-fit: cover;
        flex-grow: 0;
        flex-shrink: 0;

        &_heart-animation {
            animation-name: heartbeat;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
        }
    }

    &__title {
        margin: 47px 0 0;
        font-weight: 700;
        font-size: 18px;
        color: $text-color-secondary;
        text-align: center;
    }

    &__descr {
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: $text-color-secondary;
        margin: 29px 0 0;

        span {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #f00;
        }
    }
}