.button {
    background-color: $main-color;
    width: 153px;
    height: 32px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: $text-color;
    border-radius: 5px;
    border: none;

    &_main {
        width: 300px;
        height: 50px;
        font-size: 16px;
        margin-top: 67px;
    }

    &_submit {
        width: 100%;
        height: 58px;
        font-size: 16px;
        margin-top: 17px;
    }
}