.hamburger {
    display: none;
    flex-direction: column;
    row-gap: 4px;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;

    span {
        display: block;
        width: 100%;
        height: calc(100% / 3);
        background-color: white;
        transition: 0.4s all;
    }
}

.hamburger:hover {
    cursor: pointer;

}

.hamburger_active {
    span:nth-child(1) {
        transform: translateY(86%) rotate(-45deg);
    }

    span:nth-child(2) {
        display: none;
    }

    span:nth-child(3) {
        transform: translateY(-86%) rotate(45deg);
    }
}