@import '../base/_variables.scss';
@import '../base/_mixins.scss';
@import '../blocks/_promo.scss';
@import '../blocks/_header.scss';
@import '../blocks/_buttons.scss';
@import '../blocks/_advantages.scss';
@import '../blocks/_hamburger.scss';
@import '../blocks/_info.scss';


* {
    font-family: "MuseoModerno", sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import '../base/_media.scss';