@import '../base/_variables';
@import '../blocks/_titles';
@import '../base/_mixins';
@import '../blocks/_promo';
@import '../blocks/_header';
@import '../blocks/_buttons';
@import '../blocks/_advantages';
@import '../blocks/_hamburger';
@import '../blocks/_consultations';
@import '../blocks/_forms';
@import '../blocks/_slider';
@import '../blocks/_catalogue';
@import '../blocks/_reviews';
@import '../blocks/_footer';
@import '../blocks/_overlay';


* {
    font-family: "MuseoModerno", sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import '../base/_media.scss';